### EDA TO BE PERFORMED
- Get rid of extra columns
- Get rid of bullet points in Used Name
- Parse out dates from Born and Died column
- Parse out city, and country from Born column
- Split Height/Weight

In [1]:
import pandas as pd
import numpy as np

In [2]:
athletes = pd.read_csv('/Users/varunmalani/Desktop/Athletes/olympics_athletes.csv')
athletes.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",Le Basque Bondissant (The Bounding Basque),NaN,NaN,NaN,NaN,NaN
3,Competed in Olympic Games,Male,Jacques Marie Stanislas Jean•Brugnon,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",Toto,NaN,NaN,NaN,NaN,NaN
4,Competed in Olympic Games,Male,Henry Albert•Canet,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
athletes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Roles          145500 non-null  object
 1   Sex            145500 non-null  object
 2   Full name      145500 non-null  object
 3   Used name      145500 non-null  object
 4   Born           143772 non-null  object
 5   Died           34042 non-null   object
 6   NOC            145499 non-null  object
 7   athlete_id     145500 non-null  int64
 8   Measurements   107833 non-null  object
 9   Affiliations   95832 non-null   object
 10  Nick/petnames  9145 non-null    object
 11  Title(s)       399 non-null     object
 12  Other names    7167 non-null    object
 13  Nationality    8259 non-null    object
 14  Original name  30739 non-null   object
 15  Name order     7844 non-null    object
dtypes: int64(1), object(15)
memory usage: 17.8+ MB

In [4]:
# The columns that are not required are
# 1. Full name
# 2. Affiliations
# 3. Nick/petnames
# 4. Title(s)
# 5. Other names
# 6. Nationality
# 7. Original name
# 8. Name order

In [5]:
athletes = athletes[['Roles', 'Sex', 'Used name', 'Born', 'Died', 'NOC', 'athlete_id', 'Measurements']]

In [6]:
athletes.head(2)

,Roles,Sex,Used name,Born,Died,NOC,athlete_id,Measurements
0,Competed in Olympic Games,Male,Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN
1,Competed in Olympic Games,Male,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg

In [7]:
# Cleaning the Used Name column by eliminating .
athletes['Used name'].str.replace('•',' ').head(2)

0    Jean-François Blanchy
1           Arnaud Boetsch
Name: Used name, dtype: object

In [8]:
athletes['Used name'] = athletes['Used name'].str.replace('•',' ')

In [9]:
athletes['Used name'].head(5)

0    Jean-François Blanchy
1           Arnaud Boetsch
2             Jean Borotra
3          Jacques Brugnon
4             Albert Canet
Name: Used name, dtype: object

In [10]:
# Renaming the Used name to Name
athletes.rename(columns = {'Used name': 'Name'}, inplace = True)

In [11]:
athletes.head(2)

,Roles,Sex,Name,Born,Died,NOC,athlete_id,Measurements
0,Competed in Olympic Games,Male,Jean-François Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN
1,Competed in Olympic Games,Male,Arnaud Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg

In [12]:
# Checking for any NaN values
athletes['Sex'].value_counts()

Male      106325
Female     39175
Name: Sex, dtype: int64

In [13]:
# Fetching the date from the Born column
athletes['Born'].str.split('in').str[0].str.strip().head(2)

0    12 December 1886
1        1 April 1969
Name: Born, dtype: object

In [14]:
athletes['Born Date'] = athletes['Born'].str.split('in').str[0].str.strip()
athletes['Born Date'].head(2)

0    12 December 1886
1        1 April 1969
Name: Born Date, dtype: object

In [15]:
# errors='coerce' to handle any remaining issues
athletes['Born Date'] = pd.to_datetime(athletes['Born Date'], errors='coerce')
type(pd.to_datetime(athletes['Born Date']).dt.date[0])

datetime.date

In [16]:
# Converting the Born Date format from YYY-MM-DD to DD-MM-YYYY
athletes['Born Date'] = athletes['Born Date'].dt.strftime('%d-%m-%Y')

In [17]:
athletes.head(2)

,Roles,Sex,Name,Born,Died,NOC,athlete_id,Measurements,Born Date
0,Competed in Olympic Games,Male,Jean-François Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,12-12-1886
1,Competed in Olympic Games,Male,Arnaud Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,01-04-1969

In [18]:
athletes['Born City'] = athletes['Born'].str.split('in').str[1].str.split(',').str[0].str.strip()
athletes.head(2)

,Roles,Sex,Name,Born,Died,NOC,athlete_id,Measurements,Born Date,Born City
0,Competed in Olympic Games,Male,Jean-François Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,12-12-1886,Bordeaux
1,Competed in Olympic Games,Male,Arnaud Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,01-04-1969,Meulan

In [19]:
athletes['Born Country'] = athletes['Born'].str.split('in').str[1].str.split(',').str[1].str.split('(').str[1].str.split(')').str[0]
athletes['Born Country'].head()

0    FRA
1    NaN
2    FRA
3    FRA
4    GBR
Name: Born Country, dtype: object

In [20]:
athletes.head(5)

,Roles,Sex,Name,Born,Died,NOC,athlete_id,Measurements,Born Date,Born City,Born Country
0,Competed in Olympic Games,Male,Jean-François Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,12-12-1886,Bordeaux,FRA
1,Competed in Olympic Games,Male,Arnaud Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,01-04-1969,Meulan,NaN
2,Competed in Olympic Games • Administrator,Male,Jean Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,13-08-1898,Biarritz,FRA
3,Competed in Olympic Games,Male,Jacques Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,11-05-1895,Paris VIIIe,FRA
4,Competed in Olympic Games,Male,Albert Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,17-04-1878,Wandsworth,GBR

In [21]:
athletes['Died Date'] = athletes['Died'].str.split('in').str[0]
athletes['Died Date'] = pd.to_datetime(athletes['Died Date'], errors='coerce').dt.strftime('%d-%m-%Y')

In [22]:
athletes.head(2)

,Roles,Sex,Name,Born,Died,NOC,athlete_id,Measurements,Born Date,Born City,Born Country,Died Date
0,Competed in Olympic Games,Male,Jean-François Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,12-12-1886,Bordeaux,FRA,02-10-1960
1,Competed in Olympic Games,Male,Arnaud Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,01-04-1969,Meulan,NaN,NaN

In [23]:
# Now splitting the Measurements column on the basis of height
athletes_height = []

for i in range(len(athletes['Measurements'])):
    if ('kg' in str(athletes['Measurements'][i]).split('cm')[0]):
        athletes_height.append(float(np.nan))
    else:
        athletes_height.append(float(str(athletes['Measurements'][i]).split('cm')[0].strip()))

In [24]:
athletes['Height'] = athletes_height

In [25]:
# Now splitting the Measurements column on the basis of weight
athletes_weight = []

for i in range(len(athletes['Measurements'])):
    if (len(str(athletes['Measurements'].iloc[165]).split('/'))) == 2:
        athletes_weight.append(float(str(athletes['Measurements'].iloc[165]).split('/')[1].split('kg')[0].strip()))
    else:
        athletes_weight.append(float(str(athletes['Measurements'].iloc[165]).split('kg')[0].strip()))

In [26]:
athletes['Weight'] = athletes_weight

In [27]:
# We can verify that the index position 165 had no height and had a weight of 120 kg
athletes.iloc[165]

Roles           Competed in Olympic Games
Sex                                Female
Name                       Patricia Offel
Born                     19 December 1971
Died                                  NaN
NOC                                 Ghana
athlete_id                            166
Measurements                       120 kg
Born Date                      19-12-1971
Born City                             NaN
Born Country                          NaN
Died Date                             NaN
Height                                NaN
Weight                              120.0
Name: 165, dtype: object

In [28]:
# Dropping all those columns that are not required
athletes.drop(columns=['Born', 'Died', 'Measurements', 'NOC', 'Roles'], inplace = True)

In [29]:
athletes.head(5)

,Sex,Name,athlete_id,Born Date,Born City,Born Country,Died Date,Height,Weight
0,Male,Jean-François Blanchy,1,12-12-1886,Bordeaux,FRA,02-10-1960,NaN,120.0
1,Male,Arnaud Boetsch,2,01-04-1969,Meulan,NaN,NaN,183.0,120.0
2,Male,Jean Borotra,3,13-08-1898,Biarritz,FRA,17-07-1994,183.0,120.0
3,Male,Jacques Brugnon,4,11-05-1895,Paris VIIIe,FRA,20-03-1978,168.0,120.0
4,Male,Albert Canet,5,17-04-1878,Wandsworth,GBR,25-07-1930,NaN,120.0